:root {

    /* hovered  buttons in light mode */
    --brightBlue: hsl(220, 98%, 61%);
    --vLightGray: hsl(0, 0%, 98%);
    --vLightGrayishBlue: hsl(236, 32%, 92%);
    --darkGrayishBlue: hsl(240, 9%, 61%);
    --vDarkGrayishBlue: hsl(235, 19%, 35%);

    --checkBackground: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    /*===== dark theme colors ==========*/


    --vDarkBlue: hsl(235, 21%, 11%);
    --vDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBlue: hsl(236, 33%, 92%);
    --DarkGrayishBlue: hsl(233, 11%, 52%);
    --vDarkGrayishBlue: hsl(233, 14%, 35%);
    --vDarkGrayishBlue: hsl(237, 14%, 26%);
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;

}


html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--poppins);
}

html,

body {
    background: var(--vLightGray);

}

html,
body {
    height: 100%;
}


#root {
    height: 100%;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.flex-dir-column {
    flex-direction: column;
}

.flex_reverse {}

.align-center {
    align-items: center;
}


/*============ widths   based on grid view==============*/
.w-6 {
    width: 50%;
}

.w-5 {
    max-width: 33rem;
}

.w-4 {
    width: 33.3333%;
}

.w-7 {
    width: 58.33333%
}

.w-8 {
    width: 66.666666%
}


.w-9 {
    width: 75%
}


.w-10 {
    width: 83.333%
}

.w-12 {
    width: 100%;
}



/*========= colors =====*/

.text-light {
    color: var(--vLightGray);
}

.text-red {
    color: red;
}

.text_line-through {
    text-decoration: line-through;
}

/* text alignment */
.text_align_justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* borders */
.border-none {
    border: 0;
}


/* paddings */

.pl-0_5 {
    padding-left: 0.5rem;
}

.py-0_5 {

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    ;
}

.py-1 {

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-0_7 {
    padding-top: 0.7rem;

    padding-bottom: 0.7rem;
}



@keyframes rotate_360 {
    to {
        transform: rotate(360deg);
        background: blue;
        opacity: 0.4;
    }

}

@keyframes rotate_180 {
    to {
        transform: rotate(180deg);
    }
}


.d-block {
    display: block;
}

.d-none {
    display: none;
}

.border_solid_blue {
    border: 1px solid var(--brightBlue);
}