#header {
    background: url(../../assets/images/bg-desktop-light.jpg);
    background-size: cover;
    min-height: 45vh;
    padding-top: 7rem;

}

#contents {
    /*  var(--vLightGray) */
    background: var(--vLightGray);
    margin: auto;
    position: relative;
    transform: translateY(-20%);
    box-shadow: 0px 10px 7px var(--vLightGrayishBlue);
    min-height: 40vh;
    border-radius: 0.3rem;

}

#title {
    letter-spacing: 10px;
}

#modeIconCont {
    margin: auto;
}